<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">

	<resultMap type="Board" id="resultBoard">
		<id column="bid" property="bid" />
		<result column="btitle" property="btitle" />
		<result column="btype" property="btype" />
		<result column="bwriter" property="bwriter" />
		<result column="bcontent" property="bcontent" />
		<result column="b_original_filename" property="b_original_filename" />
		<result column="b_rename_filename" property="b_rename_filename" />
		<result column="bcount" property="bcount" />
		<result column="b_create_date" property="b_create_date" />
		<result column="b_modfiy_date" property="b_modfiy_date" />
		<result column="bstatus" property="bstatus" />
	</resultMap>

	<resultMap type="Board" id="resultTop3">
		<id column="bid" property="bid" />
		<result column="btitle" property="btitle" />
		<result column="bcount" property="bcount" />
	</resultMap>

	<!-- 비교연산자를 쿼리문에 그냥 사용하면, 마이바티스에서 태그 앨리먼트의 꺽쇠괄호(<,>,&)와 혼동하는 문제가 발생할 수 있음 
		이 문제를 미리 방지하기 위해 xml 코드 중 xml parser에 의해 해석하지 말고 문장 그대로 해석하라는 뜻으로 <![CDATA 
		쿼리문장 ]]> 사용함 -->

	<!-- 조회수 top3 게시글 리스팅 -->
	<select id="selectTop3" resultMap="resultTop3">
	<![CDATA[
		SELECT *
		FROM (SELECT ROWNUM RNUM, BID, BTITLE, BCOUNT
				FROM (SELECT * FROM BOARD ORDER BY BCOUNT DESC))
		WHERE RNUM >= 1 AND RNUM <= 3
	]]>
	</select>

	<select id="selectBoard" parameterType="_int"
		resultMap="resultBoard">
		select * from board
		where bid = #{ BID }
	</select>

	<update id="updateBCount" parameterType="_int">
		update board
		set bcount =
		bcount + 1
		where bid = #{ BID }
	</update>

	<select id="getListCount" resultType="_int">
		select count(*) from board
	</select>

	<select id="selectList" parameterType="com.ict.hhw.board.model.vo.BoardPage" resultMap="resultBoard">
		<![CDATA[
      	SELECT *
        FROM(SELECT ROWNUM RNUM, BID, BTYPE, BTITLE, BWRITER,BCONTENT,
                  B_ORIGINAL_FILENAME, B_RENAME_FILENAME, BCOUNT,
                 B_CREATE_DATE, B_MODFIY_DATE,BSTATUS
               FROM (SELECT * 
                       FROM BOARD
                     WHERE BSTATUS = 'Y'
                      ORDER BY BID DESC))
      	WHERE RNUM >=#{ startRow } AND RNUM <= #{ endRow }
      	]]>
	</select>
	
	<insert id="insertBoard" parameterType="Board">
		insert into board
		<if test="b_original_filename != null"><!-- 첨부파일이 있을 때 -->
		values (seq_bid.nextval, #{ btitle }, #{ bwriter }, #{ bcontent },
		 		#{ b_original_filename }, #{ b_rename_filename }, 
		 		default, sysdate, sysdate, default)
		</if>
		<if test="b_original_filename == null"><!-- 첨부파일이 없을 때 -->
		values (seq_bid.nextval, #{ btitle }, #{ bwriter }, #{ bcontent },
		 		null, null, 
		 		default, sysdate, sysdate, default)
		</if>
	</insert>
	
	<update id="updateBoard" parameterType="Board">
		update board
		set btitle = #{ btitle },
			bcontent = #{ bcontent },
			b_modfiy_date = sysdate
			<if test="b_original_filename == null">
			, b_original_filename = null,
			b_rename_filename = null
			</if>
			<if test="b_original_filename != null">
			, b_original_filename = #{ b_original_filename },
			b_rename_filename = #{ b_rename_filename }
			</if>
		where bid = #{ BID }
	</update>
	
	<update id="changeBstatusN" parameterType="_int">
		update board
		set bstatus = 'N',
			b_modfiy_date = sysdate
		where bid = #{ BID }
	</update>
	
	<select id="searchTitle" parameterType="com.ict.hhw.common.SearchAndPage" resultMap="resultBoard">
   		<![CDATA[
      	SELECT *
        FROM(SELECT ROWNUM RNUM, BID, BTITLE, BWRITER,BCONTENT,
                  ORIGINAL_FILENAME,RENAME_FILENAME,BCOUNT,
                 B_CREATE_DATE, B_MODFIY_DATE,B_STATUS
               FROM (SELECT * 
                       FROM BOARD
                     WHERE B_STATUS = 'Y'
                     and btitle like '%' || #{ keyword } || '%'
                      ORDER BY BID DESC))
      	WHERE RNUM >=#{ startRow } AND RNUM <= #{ endRow }
      	]]>
   </select>
	
   <select id="searchWriter" parameterType="com.ict.hhw.common.SearchAndPage" resultMap="resultBoard">
   		<![CDATA[
      	SELECT *
        FROM(SELECT ROWNUM RNUM, BID, BTYPE, BTITLE, BWRITER,BCONTENT,
                  B_ORIGINAL_FILENAME, B_RENAME_FILENAME,BCOUNT,
                 B_CREATE_DATE, B_MODFIY_DATE,B_STATUS
               FROM (SELECT * 
                       FROM BOARD
                     WHERE BSTATUS = 'Y'
                     and bwriter like '%' || #{ keyword } || '%'
                      ORDER BY BID DESC))
      	WHERE RNUM >=#{ startRow } AND RNUM <= #{ endRow }
      	]]>
   </select>
   
   <select id="searchDate" parameterType="com.ict.hhw.common.SearchAndPage" resultMap="resultBoard">
   		<![CDATA[
      	SELECT *
        FROM(SELECT ROWNUM RNUM, BID, BTYPE, BTITLE, BWRITER,BCONTENT,
                  B_ORIGINAL_FILENAME, B_RENAME_FILENAME,BCOUNT,
                 B_CREATE_DATE, B_MODFIY_DATE,B_STATUS
               FROM (SELECT * 
                       FROM BOARD
                     WHERE BSTATUS = 'Y'
                     and b_create_date between #{ begin } and #{ end }
                      ORDER BY BID DESC))
      	WHERE RNUM >=#{ startRow } AND RNUM <= #{ endRow }
      	]]>
   </select>

	<select id="getSearchTitleListCount" parameterType="string" resultType="_int">
		select count(*) from board
		where btitle like '%' || #{ keyword } || '%'
	</select>
	
	<select id="getSearchWriterListCount" parameterType="string" resultType="_int">
		select count(*) from board
		where bwriter like '%' || #{ keyword } || '%'
	</select>
	
	<select id="getSearchDateListCount" parameterType="com.ict.hhw.common.SearchDate" resultType="_int">
		select count(*) from board
		where b_create_date between #{ begin } and #{ end }
	</select>
</mapper>