<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noticeMapper">
   
   <resultMap id="noticeResultSet" type="Notice">
      <id property="nid" column="NID"/>
      <result property="nid" column="NID"/>
      <result property="ntype" column="NTYPE"/>
      <result property="nwriter" column="NWRITER"/>
      <result property="ntitle" column="NTITLE"/>
      <result property="ncontent" column="NCONTENT"/>
      <result property="n_file_name" column="N_FILE_NAME"/>
      <result property="n_rfile_name" column="N_RFILE_NAME"/>
      <result property="n_date" column="N_DATE"/>
      <result property="n_modify_date" column="N_MODFIY_DATE"/>
      <result property="ncount" column="NCOUNT"/>
      <result property="nstatus" column="NSTATUS"/>
   </resultMap>
   
   <resultMap id="noticeTop3ResultSet" type="Notice">
      <id property="nid" column="NID"/>
      <result property="ntitle" column="NTITLE"/>
      <result property="n_date" column="N_DATE"/>
   </resultMap>
   
   <select id="selectAll" resultMap="noticeResultSet">
      select * from notice
      order by nid desc
   </select>
   
   <select id="selectNotice" parameterType="_int" resultMap="noticeResultSet">
      select * from notice
      where nid = #{nid}
   </select>
   
   <select id="selectNewTop3" resultMap="noticeTop3ResultSet">
   		<![CDATA[
   		select *
   		from (select rownum rnum, nid,ntitle, n_Date
   			from (select * from notice 
   				  order by nid desc))
   		where rnum >= 1 and rnum <= 3
   		]]>
   </select>
   
   <insert id="insertNotice" parameterType="Notice">
      insert into notice
      <if test="file_path != null">
      values (seq_nid.nextval, #{ntitle}, #{nwriter}, #{ncontent}, default, default, #{file_path})
      </if>
      <if test="file_path == null">
      (nid, ntitle, nwriter, ncontent, n_create_date, n_modify_date)
      values (seq_nid.nextval, #{ntitle}, #{nwriter}, #{ncontent}, default, default )
      </if>
   </insert>
   
    <update id="updateNotice" parameterType="Notice">
      update notice
      set ntitle = #{ ntitle },
         ncontent = #{ ncontent }
         <if test="file_path != null">
         , file_path = #{ file_path }
         </if>
         <if test="file_path == null">
         , file_path = null
         </if>
      where nid = #{ nid }
   </update>
   
   <delete id="deleteNotice" parameterType="_int">
      delete from notice
      where nid = #{ nid }
   </delete>

   <select id="searchTitle" parameterType="string" resultMap="noticeResultSet">
   		select * from notice
   		where ntitle like '%' || #{ keyword } || '%'
   </select>
	
   <select id="searchWriter" parameterType="string" resultMap="noticeResultSet">
   		select * from notice
   		where nwriter like '%' || #{ keyword } || '%'
   </select>
   
   <select id="searchDate" parameterType="com.ict.spring.common.SearchDate" resultMap="noticeResultSet">
   		select * from notice
   		where n_create_date between #{ begin } and #{ end }
   </select>
	
</mapper>









