<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qaMapper">

<resultMap type="Qa" id="resultQa">
	<id column="qa_id" property="qa_id"/>
	<result column="qa_title" property="qa_title"/>
	<result column="QA_WRITER" property="qa_writer"/>
	<result column="QA_CONTENT" property="qa_content"/>
	<result column="QA_ORIGIN_FILE_NAME" property="qa_origin_file_name"/>
	<result column="QA_RENAME_FILE_NAME" property="qa_rename_file_name"/>
	<result column="qa_readcount" property="qa_readcount"/>
	<result column="QA_CREATE_DATE" property="qa_create_date"/>
	<result column="QA_MODIFY_DATE" property="qa_modify_date"/>
	<result column="QA_STATUS" property="qa_status"/>
</resultMap>

<resultMap type="Qa" id="resultTop3">
	<id column="qa_id" property="qa_id"/>
	<result column="qa_title" property="qa_title"/>
	<result column="qa_readcount" property="qa_readcount"/>
</resultMap>

<select id="selectTop3" resultMap="resultTop3">
	<![CDATA[
	select *
	from(select rownum rnum, qa_id, qa_title, qa_readcount
        	from(select * from qa order by QA_READCOUNT desc))
	where rnum >= 1 and rnum <=3
	]]>
</select>

<select id="selectQa" parameterType="_int" resultMap="resultQa">
	select * from qa
	where qa_id = #{ qa_id }
</select>

<update id="updateQacount" parameterType="_int" >
	update qa
	set qa_readcount = qa_readcount + 1
	where qa_id = #{ qa_id }
</update>

<select id="getListCount" resultType="_int">
 	select count(*) from qa 
</select>

<select id="selectList" parameterType="com.ict.hhw.qa.model.vo.QaPage" resultMap="resultQa">
	<![CDATA[
	select *
	from (select rownum rnum, qa_id, QA_TITLE, QA_WRITER, QA_CONTENT,
	QA_ORIGIN_FILE_NAME, QA_RENAME_FILE_NAME,
	QA_READCOUNT, QA_CREATE_DATE, QA_MODIFY_DATE, QA_STATUS
	from (select * from qa
	where qa_status = 'Y'
	order by qa_id desc))
	where rnum >= #{ startRow } and rnum <= #{ endRow }
	]]>
</select>
	
</mapper>